@import "vendors/reset.scss";

$cPrimary: #f3ab01;

html {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: $cPrimary;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.input:not([type="checkbox"]) {
  display: block;
  width: 100%;
  font-size: 16px;
  color: $cPrimary;
  padding: 0.65rem 0.5rem;
  border: 2px solid #c6c6c6;
  border-radius: 4px;

  &:focus {
    border-color: $cPrimary;
    box-shadow: 0 3px 10px 0 rgba($cPrimary, 0.25);
  }
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.form {
  > p {
    margin-bottom: 2rem;
  }

  &__item {
    margin-bottom: 1rem;
  }
}

.button--with-icon {
  svg {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    fill: #fff;
    margin-right: 4px;
  }
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

button:focus,
input[type="checkbox"]:focus {
  outline: dashed 3px grey;
  outline-offset: 4px;
}

.button--secondary {
  background: transparent;
  color: #000;
  border: 2px solid $cPrimary;

  &:hover {
    color: #fff;
    border-color: darken($cPrimary, 10%);
  }
}

// .form__inner {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 8px;
//   margin-bottom: 8px;

//   @media (min-width: 600px) {
//     grid-template-columns: 2fr 1fr 1fr;
//   }
// }

.header {
  position: relative;
  display: grid;
  grid-gap: 1rem;
  color: #fff;
  background: $cPrimary;
  padding: 1.6rem;
  box-shadow: 0 3px 30px 0 rgba(#000, 0.4);

  &__title {
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  a {
    color: inherit;
  }

  p {
    font-size: 1.8rem;
  }

  @media (min-width: 1000px) {
    display: flex;
    justify-content: space-between;
  }
}

.wrapper {
  flex-grow: 1;

  @media (min-width: 1000px) {
    display: grid;
    grid-template-columns: 320px 1fr;
  }
}

.grid--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.sidebar {
  background: #ebebeb;
  padding: 1rem;
}

.button {
  appearance: none;
  display: block;
  width: 100%;
  font-size: 1.6rem;
  background: $cPrimary;
  color: #fff;
  border: 0;
  padding: 0.65rem 0.5rem 0.8rem;
  border-radius: 0px;
  transition: 0.2s ease-out;

  &:hover {
    background: darken($cPrimary, 10%);
  }
}

.main {
  padding: 1.6rem;
  color: #fff;
  background: #3b3b3b;
}

.js-grid {
  width: 95%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.js-grid-item {
  background: rgba(#fff, 0.06);
  border: 2px dashed #707070;
  min-height: 160px;
}

#gridCodePreview {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
  background: #292929;
  padding: 0.65rem;

  span {
    background: $cPrimary;
    color: #fff;
    opacity: 0;
    padding: 3px 5px;
    border-radius: 5px;
    animation: showFull 0.5s linear forwards;
  }
}

@keyframes showFull {
  to {
    opacity: 1;
  }
}

/* Flexbox Breapoints */
.flex-breakpoints-item {
  position: relative;
  margin-bottom: 1.5rem;

  h3 {
    padding-left: 28px;
  }

  button {
    appearance: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: #bf3636
      url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='100pt' height='100pt' version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill ='%23fff' d='m32.699 66.699c0.54688 0.57422 1.3086 0.90234 2.1016 0.90234 0.77344-0.003906 1.5195-0.28906 2.0977-0.80078l13-12.602 12.602 13c0.49219 0.66016 1.2773 1.0352 2.1016 1 0.79297 0 1.5508-0.32422 2.0977-0.89844 1.1719-1.1406 1.2188-3.0078 0.10156-4.1992l-12.602-13 13-12.602c0.58984-0.53516 0.93359-1.2852 0.94922-2.0781 0.019531-0.79297-0.28516-1.5625-0.84766-2.1211-1.1406-1.1719-3.0078-1.2188-4.1992-0.10156l-13 12.602-12.602-13c-0.53516-0.58984-1.2852-0.93359-2.0781-0.94922-0.79297-0.019531-1.5625 0.28516-2.1211 0.84766-1.1719 1.1406-1.2188 3.0078-0.10156 4.1992l12.602 13-13 12.602c-0.58984 0.53516-0.93359 1.2852-0.94922 2.0781-0.019531 0.79297 0.28516 1.5625 0.84766 2.1211z'/%3E%3C/svg%3E%0A");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    border: 0;
    font-size: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-out;

    &:hover {
      background-color: darken($cPrimary, 10%);
      transform: scale(1.1);
      box-shadow: 0 3px 10px 0 rgba(#000, 0.25);
    }
  }
}

.add-breakpoint {
  appearance: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: $cPrimary
    url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='100pt' height='100pt' version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='m75 43.75h-18.75v-18.75c0-3.75-2.5-6.25-6.25-6.25s-6.25 2.5-6.25 6.25v18.75h-18.75c-3.75 0-6.25 2.5-6.25 6.25s2.5 6.25 6.25 6.25h18.75v18.75c0 3.75 2.5 6.25 6.25 6.25s6.25-2.5 6.25-6.25v-18.75h18.75c3.75 0 6.25-2.5 6.25-6.25s-2.5-6.25-6.25-6.25z'/%3E%3C/svg%3E%0A");
  background-size: 28px;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  border: 0;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(#000, 0.5);
  opacity: 0;
  animation: opacity 0.5s ease-out forwards;
  display: none;

  &.is-active {
    display: block;
  }
}

.modal__content {
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%) translateY(30px);
  width: 550px;
  height: 400px;
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
  // overflow-y: scroll;
  animation: transform 0.3s 0.025s ease-out forwards;

  @media (max-width: 700px) {
    max-width: 85%;
  }

  textarea {
    appearance: none;
    user-select: none;
    border: 0;
    background: transparent;
    width: 100%;
    height: 90%;
    margin-top: 10px;
  }
}
.modal__close {
  appearance: none;
  position: absolute;
  left: -20px;
  top: -20px;
  width: 40px;
  height: 40px;
  font-size: 0;
  border: 0;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 rgba(#000, 0.3);

  svg {
    width: 24px;
    height: 24px;
  }
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}

@keyframes transform {
  to {
    transform: translateX(-50%) translateY(0);
  }
}
