@import "vendors/reset.scss";

html {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f3ab01;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.input:not([type="checkbox"]) {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #f3ab01;
  padding: 0.65rem 0.5rem;
  border: 2px solid #c6c6c6;
  border-radius: 4px;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

form {
  > p {
    margin-bottom: 2rem;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background: #f3ab01;
  padding: 1.6rem;
  box-shadow: 0 3px 30px 0 rgba(#000, 0.4);

  &__title {
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  a {
    color: inherit;
  }

  p {
    font-size: 1.8rem;
  }
}

.wrapper {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 360px 1fr;
}

.grid--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.sidebar {
  background: #ebebeb;
  padding: 1rem;
}

.main {
  padding: 1.6rem;
  color: #fff;
  background: #3b3b3b;
}

.js-grid {
  width: 100%;
  max-width: 90rem;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  //grid-gap: 1rem;
}

.js-grid-item {
  background: rgba(#fff, 0.06);
  border: 2px dashed #707070;
  min-height: 160px;
}
