@import "vendors/reset.scss";
@import "libs/base.scss";
@import "libs/animation.scss";
@import "libs/modal.scss";

.header {
  position: relative;
  display: grid;
  grid-gap: 1rem;
  color: $cWhite;
  background: $cPrimary;
  padding: 1.6rem;
  box-shadow: 0 3px 30px 0 rgba($cBlack, 0.4);

  &__title {
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &__author {
    display: flex;
    align-items: center;
  }

  a {
    color: inherit;
  }

  p {
    font-size: 1.8rem;
  }

  @media (min-width: 1000px) {
    display: flex;
    justify-content: space-between;
  }
}

.wrapper {
  flex-grow: 1;

  @media (min-width: 1000px) {
    display: grid;
    grid-template-columns: 320px 1fr;
  }
}

.grid--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.sidebar {
  background: #fff;
  padding: 2rem;
}

.button {
  appearance: none;
  display: block;
  width: 100%;
  font-size: 1.6rem;
  background: $cPrimary;
  color: $cWhite;
  border: 0;
  padding: 0.65rem 0.5rem 0.8rem;
  border-radius: 0px;
  transition: 0.2s ease-out;

  &:hover {
    background: darken($cPrimary, 10%);
  }
}

.main {
  padding: 1.6rem;
  color: $cWhite;
  background: #eeeeee;
}

.js-grid {
  width: 95%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.js-grid-item {
  background: rgba(251, 213, 97, 0.5);
  border: 2px dashed $cPrimary;
  min-height: 160px;
}

#gridCodePreview {
  font-size: 1.6rem;
  max-width: 95%;
  margin: 0 auto 3rem auto;
  line-height: 1.6;
  color: $cWhite;
  background: #292929;
  border-radius: 5px;
  padding: 0.65rem;
  overflow-x: scroll;

  span {
    background: $cPrimary;
    color: $cWhite;
    opacity: 0;
    padding: 3px 5px;
    border-radius: 5px;
    animation: showFull 0.5s linear forwards;
  }
}

/* Flexbox Breapoints */
.flex-breakpoints-item {
  position: relative;
  margin-bottom: 2rem;

  h3 {
    padding-left: 28px;
  }

  button {
    appearance: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: #bf3636
      url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='100pt' height='100pt' version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill ='%23fff' d='m32.699 66.699c0.54688 0.57422 1.3086 0.90234 2.1016 0.90234 0.77344-0.003906 1.5195-0.28906 2.0977-0.80078l13-12.602 12.602 13c0.49219 0.66016 1.2773 1.0352 2.1016 1 0.79297 0 1.5508-0.32422 2.0977-0.89844 1.1719-1.1406 1.2188-3.0078 0.10156-4.1992l-12.602-13 13-12.602c0.58984-0.53516 0.93359-1.2852 0.94922-2.0781 0.019531-0.79297-0.28516-1.5625-0.84766-2.1211-1.1406-1.1719-3.0078-1.2188-4.1992-0.10156l-13 12.602-12.602-13c-0.53516-0.58984-1.2852-0.93359-2.0781-0.94922-0.79297-0.019531-1.5625 0.28516-2.1211 0.84766-1.1719 1.1406-1.2188 3.0078-0.10156 4.1992l12.602 13-13 12.602c-0.58984 0.53516-0.93359 1.2852-0.94922 2.0781-0.019531 0.79297 0.28516 1.5625 0.84766 2.1211z'/%3E%3C/svg%3E%0A");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    border: 0;
    font-size: 0;
    border-radius: 50%;
    cursor: pointer;
  }
}

.add-breakpoint {
  appearance: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: $cPrimary
    url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='100pt' height='100pt' version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='m75 43.75h-18.75v-18.75c0-3.75-2.5-6.25-6.25-6.25s-6.25 2.5-6.25 6.25v18.75h-18.75c-3.75 0-6.25 2.5-6.25 6.25s2.5 6.25 6.25 6.25h18.75v18.75c0 3.75 2.5 6.25 6.25 6.25s6.25-2.5 6.25-6.25v-18.75h18.75c3.75 0 6.25-2.5 6.25-6.25s-2.5-6.25-6.25-6.25z'/%3E%3C/svg%3E%0A");
  background-size: 28px;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  border: 0;
  font-size: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-out;

  &:hover {
    background-color: darken($cPrimary, 10%);
    transform: scale(1.1);
    box-shadow: 0 3px 10px 0 rgba($cBlack, 0.25);
  }
}
